@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
body {
    margin: 0px;
    overflow-x: hidden;
}

h1,
h2,
h3,
p,
a {
    font-family: 'Montserrat';
    color: white;
    width: 80%;
    margin: auto;
    text-align: center;
    text-decoration: none;
}

.home-mobile-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    z-index: -1;
}

section {
    margin-bottom: 5em;
}

header {
    z-index: 1;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1.5em;
    height: 1em;
    color: white;
    .navbar-icon {
        width: 2em;
        cursor: pointer;
    }
    span {
        h1 {
            font-family: 'Montserrat';
            float: left;
            color: #514bff;
            text-transform: capitalize;
            font-size: 1.5em;
            cursor: default;
            font-weight: 700;
        }
    }
    #toggle {
        display: none;
    }
}

.home {
    position: relative;
    height: 100vh;
    min-height: 600px;
    .home-wrapper {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    h1 {
        font-size: 2.7em;
    }
    h2 {
        margin-top: 1em;
        font-size: 1.4em;
        font-weight: normal;
        color: rgba($color: #fff, $alpha: 0.7);
    }
    form {
        text-align: center;
        input {
            margin-top: 2em;
            width: 80%;
            border: 0;
            border-radius: 0.4em;
            padding: 0.9em 1em;
            font-family: 'Montserrat';
            font-size: 1em;
            text-align: center;
            outline: none;
        }
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-top: 1.5em;
            border: 0;
            border-radius: 2em;
            font-size: 1em;
            text-transform: uppercase;
            font-family: 'Montserrat';
            width: 70%;
            max-width: 200px;
            padding: 0.5em 2em;
            background: #384288;
            color: white;
            cursor: pointer;
            img {
                margin-left: 1em;
            }
        }
    }
}

.about {
    h1 {
        color: #384288;
        font-weight: normal;
        font-size: 1.7em;
    }
    p {
        max-width: 700px;
        margin: 1em auto;
        font-size: 1.2em;
        color: rgba($color: #000000, $alpha: 0.8);
        text-align: center;
        word-wrap: break-word;
        hyphens: auto;
    }
    .about-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;
        padding: 1em;
        .about-item {
            margin: 2em;
            width: 100%;
            max-width: 360px;
            box-sizing: border-box;
            padding: 1em;
            box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.2);
            border-radius: 0.7em;
            .about-icon {
                margin: 2em 0;
                height: 80px;
                object-fit: cover;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
            h2 {
                width: 100%;
                color: #2989AF;
                font-size: 1.3em;
            }
            p {
                width: 100%;
                margin: 1em auto;
            }
        }
    }
}

.services-big-demand {
    a {
        width: fit-content;
        margin: 1.5em;
    }
    h1 {
        color: #384288;
        font-weight: normal;
        font-size: 1.7em;
        margin-bottom: 1em;
    }
    .services-list {
        background: rgba($color: #514BFF, $alpha: 0.05);
        padding: 4em 2.5em;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img {
            width: 240px;
            height: 240px;
            position: relative;
            object-fit: cover;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 0.8em;
            box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
            margin-bottom: 0.4em;
        }
        h3 {
            width: fit-content;
            color: #384288;
            font-weight: normal;
        }
    }
}

.previous-experience {
    h1 {
        color: #384288;
        font-weight: normal;
        font-size: 1.7em;
    }
    .previous-people {
        display: flex;
        justify-content: space-evenly;
        padding: 3em;
        flex-wrap: wrap;
        .previous-person {
            margin: 2em 3em;
            img {
                position: relative;
                width: 200px;
                height: 200px;
                object-fit: cover;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 50%;
                box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.2);
            }
            h2 {
                width: 100%;
                margin-top: 0.4em;
                color: #384288;
            }
            p {
                margin-top: 0.5em;
                color: rgba($color: #000000, $alpha: 0.8);
                width: 100%;
                max-width: 200px;
                hyphens: auto;
                text-align: justify;
            }
        }
    }
}

section.become-professional {
    a {
        width: fit-content;
        display: block;
        border-radius: 2em;
        background: none;
    }
    button {
        background: #fff;
        padding: 0.9em 2.9em;
        font-size: 1.1em;
        border: 0;
        border-radius: 2em;
        font-family: 'Montserrat';
        margin: auto;
        display: block;
        margin-top: 0.7em;
        font-weight: 500;
        cursor: pointer;
    }

    >a {
        width: auto;
        max-width: 600px;
    }

    >a{
        background: #514BFF;
        color: white;
        margin-top: 1.5em;
        width: 80%;
        padding: 0.8em 1em;
    }
    h1 {
        color: rgba($color: #000000, $alpha: 0.9);
        font-weight: normal;
        font-size: 2.2em;
        max-width: 500px;
    }
    p {
        max-width: 800px;
        margin: 2em auto;
        text-align: justify;
        font-size: 1.2em;
        line-height: 1.3em;
        color: rgba($color: #000000, $alpha: 0.9);
    }
    div.call-to-action {
        padding: 3em 1em;
        text-align: center;
        background: rgba($color: #514BFF, $alpha: 0.9);
        margin-bottom: 2.5em;
        h1 {
            font-weight: normal;
            margin-bottom: 1.1em;
            font-size: 1.8em;
            color: #fff;
        }
    }
}

footer {
    background: rgba($color: #514BFF, $alpha: 0.05);
    padding: 3em 1em;
    display: grid;
    p,
    h2,
    a {
        color: rgba($color: #000000, $alpha: 0.8);
        display: block;
        text-align: center;
        margin: auto;
        margin-bottom: 0.5em;
        width: fit-content;
        font-size: 0.97em;
    }
    h2 {
        color: #514BFF;
        font-weight: 500;
        font-size: 1.5em;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    h2:nth-child(2) {
        color: #514BFF;
        font-weight: bold;
    }
    div {
        margin: 2em 0;
        text-align: center;
        img {
            margin: 0 0.3em;
        }
    }
    hr {
        max-width: 90%;
        color: rgba($color: #000000, $alpha: 0.4);
    }
}

.show-tablet {
    display: none;
}

.show-desktop {
    display: none;
}

@media only screen and (min-width: 600px) {
    .show-tablet {
        display: block;
    }
    header {
        .navbar-icon {
            display: none;
        }
        nav {
            display: block;
            a {
                display: inline-block;
                width: fit-content;
            }
            a:nth-of-type(2) {
                background: #384288;
                padding: 0.8em 2em;
                margin-left: 2em;
                border-radius: 3em;
            }
        }
    }
    .home {
        h1 {
            font-size: 3em;
        }
        form {
            width: 80%;
            max-width: 600px;
            margin: auto;
            display: flex;
            background: white;
            justify-content: center;
            align-items: center;
            border-radius: 3em;
            padding-right: 2em;
            margin: 2em auto;
            input {
                border-radius: 3em;
                margin: 0;
                padding: 1em 1.5em;
                width: 100%;
                font-size: 1.5em;
                text-align: left;
            }
            button {
                display: none;
            }
            .search-icon {
                display: block;
                width: 35px;
                color: #000;
                cursor: pointer;
            }
        }
        .satisfaction {
            width: fit-content;
            display: flex;
            align-items: center;
            margin: auto;
            h2 {
                margin: 0;
                font-weight: 500;
            }
        }
        .home-services-icons {
            display: flex;
            width: 80%;
            margin: 2em auto 0;
            justify-content: center;
            .service-icon {
                margin: 0 0.8em;
                background: #fff;
                border-radius: 0.3em;
                padding: 0.8em 2em;
                text-align: center;
                img {
                    height: 3.3em;
                }
                h2 {
                    font-size: 0.85em;
                    color: #000;
                    margin: auto;
                    margin-top: 1em;
                }
            }
        }
    }
    footer {
        div:nth-of-type(3) {
            grid-column: 1 / 3;
        }
    }
}

@media(max-width:1200px) {
    header {
        span {
            h1 {
                color: #ffffff;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .show-desktop {
        display: block;
    }
    .home-desktop-background {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 55%;
        min-height: 700px;
        height: 130vh;
    }
    .home {
        margin-bottom: 30vh;
        .home-mobile-background {
            display: none;
        }
        .home-wrapper {
            box-sizing: border-box;
            padding-left: 2em;
            width: 100%;
            h1 {
                margin: 0;
                width: 600px;
                text-transform: uppercase;
                text-align: left;
                color: black;
            }
            h2 {
                margin: 1em 0;
                width: fit-content;
                text-align: left;
                color: rgba($color: #000000, $alpha: 0.7);
            }
            form {
                margin: 1em 0;
                box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
                input {
                    font-size: 1.3em;
                }
                .search-icon {
                    width: 30px;
                }
            }
            .satisfaction {
                margin: 0;
                .stars-icon {
                    margin-right: 1em;
                }
            }
            .home-services-icons {
                position: absolute;
                right: 0;
                top: 0;
                transform: translateY(-4em);
                width: 40%;
                max-width: 500px;
                flex-wrap: wrap;
                .service-icon {
                    margin: 1em;
                }
                .show-service-icon {
                    display: block;
                }
            }
        }
    }
}

@media screen and(max-width:600px) {
    header {
        nav {
            margin-top: 50px;
            top: 0;
            width: 100%;
            height: 15vh;
            text-align: center;
            position: absolute;
            display: block;
            left: -1000%;
            transition: .5s;
            a {
                margin: 0.5em auto;
                display: block;
                width: fit-content;
                text-align: center;
            }
            a:nth-of-type(2) {
                background: #384288;
                padding: 0.8em 2em;
                border-radius: 3em;
            }
        }
    }
    #toggle:checked~nav {
        left: 0;
    }
}