@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
body {
    margin: 0;
    position: relative;
    min-height: 650px;
}

img.top-desktop-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    z-index: -1;
}

img.top-mobile-background {
    display: none;
}

header {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em 1.5em;
    position: absolute;
    z-index: 1;
    @media screen and (max-width: 412px) {
        display: flex;
        justify-content: center;
    }
    top: 0;
    a {
        text-decoration: none;
        width: fit-content;
        display: block;
        h2 {
            color: #514bff;
            font-size: 1.7em;
            margin: 0;
            font-family: 'Montserrat';
            font-weight: 700;
        }
    }
}

main {
    min-height: 100vh;
    height: fit-content;
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 2em 0;
    .wrapper {
        position: relative;
        width: 70%;
        background: #fff;
        box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
        margin: auto;
        border-radius: 0.5em;
        h1 {
            text-align: center;
            background: #003bfb;
            color: #fff;
            padding: 0.4em;
            font-size: 2.3em;
            font-weight: 600;
            border-top-right-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
            margin: 0;
            font-family: 'Montserrat';
        }
        h2 {
            font-family: 'Montserrat';
            font-size: 2.3em;
            text-align: center;
        }
        h3 {
            font: 1.4em 'Montserrat';
            text-align: center;
        }
        a {
            text-decoration: none;
        }
        div.profiles {
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 3em;
            flex-wrap: wrap;
            div.profile {
                margin: 0 2em;
                img {
                    box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.2);
                    padding: 4.5em 3em;
                    border-radius: 0.3em;
                    transition: 0.15s;
                }
                img:hover {
                    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3)
                }
            }
        }
    }
}

img.desktop-bottom-background {
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
}

@media screen and(max-width: 1150px) {
    .top-desktop-background {
        display: none;
    }
    .desktop-bottom-background {
        position: relative !important;
        bottom: 0 !important;
    }
    header {
        padding-left: 1em !important;
        h2 {
            color: #fff !important;
            font-size: 2em !important;
        }
    }
    .wrapper,
    main {
        padding: 0;
    }
    .wrapper {
        position: relative !important;
        width: 100% !important;
        background: none !important;
        box-shadow: none !important;
        margin-top: 4em !important;
    }
    main {
        padding-top: 3em;
        h1 {
            color: #003bfb !important;
            background: none !important;
        }
    }
    .top-mobile-background {
        display: block !important;
        position: absolute;
        z-index: -1;
        max-width: 410px;
        max-height: 120px;
        width: 100%;
    }
    h3 {
        font-size: 2em;
    }
    .desktop-bottom-background {
        display: none;
    }
}