@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
* {
    font-family: 'Montserrat';
}

body {
    margin: 0;
}

.top-desktop-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    z-index: -1;
}

header {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0;
    padding:  0.5em 1.5em;

    a {
        text-decoration: none;
        display: block;
        width: fit-content;
        h2 {
            color: #514bff;
            font-size: 1.7em;
            margin: 0;
            font-family: 'Montserrat';
            font-weight: 700;
        }
    }
}

main {
    height: 100vh;
    min-height: 600px;
    position: relative;
    .wrapper {
        position: relative;
        width: 70%;
        top: 50%;
        transform: translateY(-50%);
        background: #fff;
        box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
        margin: auto;
        border-radius: 0.5em;
        h1 {
            text-align: center;
            background: #003bfb;
            color: #fff;
            padding: 0.4em;
            font-size: 2.3em;
            font-weight: 600;
            border-top-right-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
            margin: 0;
            font-family: 'Montserrat';
        }
        h2 {
            font-size: 2.2em;
            text-align: center;
            margin-bottom: 0;
            font-family: 'Montserrat';
        }
        .profiles {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            padding: 2em;
            padding-top: 1em;
            padding-bottom: 3.5em;
            a {
                text-decoration: none;
            }
            h1 {
                background: none;
                color: #514bff;
            }
            .profile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1em 3em;
                box-sizing: border-box;
                img {
                    border-radius: 0.3em;
                    width: 130px;
                    margin: auto;
                    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.1);
                    padding: 4em 2em;
                    transition: 0.1s;
                }
                img:hover {
                    box-shadow: 0 0 9px rgba($color: #000000, $alpha: 0.3);
                }
                h3 {
                    margin-top: 0;
                    color: #514bff;
                    text-align: center;
                    font-size: 1.3em;
                    font-family: 'Montserrat';
                    font-weight: 600;
                }
            }
        }
    }
}

img.desktop-bottom-background {
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
}

input.invalid {
    background-color: #ffdddd;
}

.step-number.active {
    background: #003bfb;
}