@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

* {
    font-family: 'Montserrat';
}

body {
    margin: 0;
}

img.top-desktop-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    z-index: -1;
}

img.top-mobile-background {
    display: none;
}

header {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em 1.5em;
    position: absolute;
    top: 0;
    a {
        text-decoration: none;
        width: fit-content;
        display: block;
        h2 {
            color: #514bff;
            font-size: 1.7em;
            margin: 0;
            font-family: 'Montserrat';
            font-weight: 700;
        }
    }
}

main {
    min-height: 600px;
    height: 100vh;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    img {
        animation: errorIcon 0.5s ease both;
    }
    h1 {
        text-align: center;
    }
    a {
        margin-top: 4em;
    }
}

img.desktop-bottom-background {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 100%;
    transform: translateY(-80%);
}

@keyframes errorIcon {
    0% {
        width: 3em
    }
    25% {
        width: 4.5em
    }
    50% {
        width: 5.3em
    }
    100% {
        width: 4.5em
    }
}

@media screen and (max-width: 720px) {
    img.top-desktop-background {
        display: none;
    }
    img.top-mobile-background {
        width: 100%;
        max-width: 300px;
        display: block;
        position: absolute;
        z-index: -1;
    }
    h1 {
        font-size: 3.7em;
        margin: 0.7em 0.2em;
    }
    header {
        h2 {
            color: #fff !important;
        }
    }
    img.desktop-bottom-background {
        display: none;
    }
}