<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/material.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Trampo</title>
</head>

<body>
    <main>
        <img src="img/icons/right-top-desktop-background.png" alt="background" class="top-desktop-background">
        <header>
            <a href="../TelaInicial/index.html"><h2>Trampo</h2></a>
        </header>

        <div class="wrapper">
            <h1>Cadastre-se</h1>
            <h2>Eu sou:</h2>
            <div class="profiles">
                <a href="../CadastroCliente/index.html">
                    <div class="profile">
                        <h3>Contratante</h3>
                        <img src="img/icons/contratante-icon.png" alt="contratante icon"
                            href="../CadastroCliente/index.html">
                    </div>
                </a>
                <a href="../CadastroPrestador/index.html">
                    <div class="profile">
                        <h3>Prestador</h3>
                        <img src="img/icons/prestador-icon.png" alt="contratante icon"
                            href="../CadastroPrestador/index.html">
                    </div>
                </a>
            </div>
            
            <a href="../TelaInicial/index.html"><button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect">Voltar</button></a>
        </div>

        <img src="img/icons/bottom-desktop-background.png" alt="background" class="desktop-bottom-background">
    </main>
    <script src="js/main.js"></script>
    <script src="js/material.min.js">
    </script>
</body>

</html>