<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/datepicker.css">
    <link rel="stylesheet" href="css/material.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>

<body>
    <main>
        <img src="img/icons/right-top-desktop-background.png" alt="background">
        <header>
            <a href="../TelaInicial/index.html">
                <h2>Trampo</h2>
            </a>
        </header>

        <div class="wrapper">
            <h1>Cadastre-se</h1>
            <div class="steps">
                <div class="step" onclick="goToTab(0)">
                    <div class="step-number">1</div>
                    <div class="description">Informações pessoais</div>
                </div>
                <div class="line-step" id="line-step1"></div>
                <div class="step">
                    <div class="step-number" onclick="goToTab(1)">2</div>
                    <div class="description">Endereço</div>
                </div>
                <div class="line-step" id="line-step2"></div>
                <div class="step">
                    <div class="step-number" onclick="goToTab(3)">3</div>
                    <div class="description">Confirmar</div>
                </div>
            </div>
            <form action="../../Controller/cadastrarContratante.php" id="form-register" method="POST">

                <div class="form-step mdl-grid">
                    <div
                        class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col form-name">
                        <input class="mdl-textfield__input" type="text" id="input-name" name="name">
                        <label class="mdl-textfield__label" for="input-full-name">Nome Completo*</label>
                    </div>
                    <div
                        class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col form-email">
                        <input class="mdl-textfield__input" type="email" id="input-email" name="input-email">
                        <label class="mdl-textfield__label" for="input-email">E-mail*</label>
                    </div>
                    <div
                        class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col form-cpf">
                        <input class="mdl-textfield__input" type="text" id="input-cpf" name="input-cpf"
                            onblur="validaCPF(this.value)" maxlength="14">
                        <label class="mdl-textfield__label" for="input-cpf">CPF*</label>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col gender-cell">
                        <label>Sexo:</label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="male">
                            <input checked class="mdl-radio__button" id="male" name="gender" type="radio" value="M">
                            <span class="mdl-radio__label">Masculino</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="female">
                            <input class="mdl-radio__button" id="female" name="gender" type="radio" value="F">
                            <span class="mdl-radio__label">Feminino</span>
                        </label>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <label for="birthday">Data de nascimento: </label>
                        <input type="date" id="birthday" name="dataNasc" value="1995-06-01">
                    </div>
                </div>

                <div class="form-step mdl-grid">
                    <div
                        class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col form-cep">
                        <input type="text" class="mdl-textfield__input" maxlength="9" onblur="pesquisacep(this.value);"
                            id="input-cep" name="input-cep">
                        <label class="mdl-textfield__label" for="input-cep">CEP*</label>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <label>Estado</label>
                        <select name="estados-brasil" id="estadosBrasil">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                    <div
                        class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col form-street">
                        <input type="text" class="mdl-textfield__input" id="input-street" name="input-street">
                        <label class="mdl-textfield__label" for="input-street">Rua*</label>
                    </div>
                    <div
                        class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col form-number">
                        <input type="text" class="mdl-textfield__input" id="input-number" pattern="-?[0-9]*(\.[0-9]+)?"
                            name="input-number">
                        <label class="mdl-textfield__label" for="input-number">Número*</label>
                    </div>
                    <div
                        class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col form-neighborhood">
                        <input type="text" class="mdl-textfield__input" id="input-neighborhood"
                            name="input-neighborhood">
                        <label class="mdl-textfield__label" for="input-neighborhood">Bairro*</label>

                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                        <input type="text" class="mdl-textfield__input no-required" id="input-complement"
                            name="input-complement">
                        <label class="mdl-textfield__label" for="input-complement">Complemento</label>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col"></div>
                </div>

                <div class="form-step mdl-grid">
                    <h3>Defina uma senha</h3>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
                        <input type="password" id="input-password" class="mdl-textfield__input" minlength="8"
                            name="input-password">
                        <label for="input-password" class="mdl-textfield__label">Digite uma senha*</label>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <label>Sua senha deve ter no mínimo 8 caracteres</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col"
                        id="txt-password-confirm">
                        <input type="password" id="input-password-confirm" class="mdl-textfield__input">
                        <label for="input-password-confirm" class="mdl-textfield__label">Confirmar senha</label>
                    </div>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col"
                        for="checkbox-1">
                        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input">
                        <span class="mdl-checkbox__label">Concordo com termos de política do Freelas*</span>
                    </label>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col"
                        for="checkbox-2">
                        <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
                        <span class="mdl-checkbox__label">Desejo receber informações e novidades no meu e-mail</span>
                    </label>
                </div>
            </form>
            <a href="../TelaEscolaCadastro/index.html"><button
                    class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary back-button btn-back">Voltar</button></a>
            <button
                class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored submit-button"
                onclick="next()" action="../../Controller/cadastrarContratante.php">
                <i class="material-icons">navigate_next</i>
            </button>
        </div>

        <img src="img/icons/bottom-desktop-background.png" alt="background" class="desktop-bottom-background">
    </main>
    <script src="js/main.js"></script>
    <script src="js/material.min.js"></script>

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/datepicker.js"></script>
</body>

</html>