@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
.mdl-layout__tab span {
    width: 30px;
}

body {
    font-family: 'Montserrat';
    transition: 0.3s;
}

.mdl-layout-title {
    letter-spacing: normal;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 2.1em;
}

.mdl-layout__drawer {
    background: white;
    .profile {
        img {
            position: relative;
            width: 10em;
            height: 10em;
            object-fit: cover;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            margin-top: 2em;
        }
        h5 {
            font-stretch: normal;
            letter-spacing: normal;
            text-align: center;
            color: black;
            font-size: 1.6em;
            font-family: 'Montserrat';
            font-weight: 600;
            margin-top: 0.5em;
        }
    }
    .mdl-navigation {
        position: relative;
        margin-top: 9%;
    }
    .footer-terms {
        position: relative;
        width: 100%;
        margin-top: auto;
        text-align: center;
        a {
            display: block;
            color: rgba($color: #000000, $alpha: 0.4);
            margin: 1em 0;
        }
    }
}

.chat-icon {
    cursor: pointer;
}

a.mdl-navigation__link {
    font-size: 1.3em;
    color: rgba($color: #000000, $alpha: 0.8) !important;
    text-align: center;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.13);
}

.mdl-layout__content {
    background: #3f51b511;
}

.mdl-layout__content .mdl-layout__tab-panel .page-content {
    padding: 2em;
    box-sizing: border-box;
    h5 {
        display: inline-block;
        margin: 0;
        margin-right: 0.5em;
    }
}

.page-content {
    h1 {
        margin: 0;
        text-align: center;
        font-size: 3em;
    }
    .services-list {
        margin: 2em auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;
        a {
            margin: 1em;
            text-decoration: none;
            color: #000000c5;
        }
        h3 {
            font-size: 1.3em;
            text-align: center;
            margin: 0;
            text-decoration: none;
        }
        img {
            width: 230px;
            height: 230px;
            object-fit: cover;
            border-radius: 0.3em;
        }
    }
}

.mdl-navigation__link {
    transition: 0.3s;
}

.mdl-navigation__link.active-menu-link {
    background: #3f51b5;
    opacity: 1;
    color: #fff !important;
}

.mdl-navigation__link.active-menu-link:hover {
    background: #324090!important;
}

.section-page:not(.section-page-services) {
    display: none;
}

.section-page-myAccount {
    padding: 3em;
    padding-bottom: 4em;
    h3,
    h5 {
        margin: 1em auto;
        text-align: center;
        font-family: 'Montserrat';
    }
    h3 {
        margin-top: 0.5em;
        font-family: 'Montserrat';
    }
    .form-wrapper {
        background: #fff;
    }
    form {
        max-width: 900px;
        border-radius: 0.3em;
        padding: 0 2em;
        padding-bottom: 3em;
        .mdl-cell {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        .mdl-textfield__input,
        .mdl-textfield__label,
        label,
        select,
        input[type="date"],
        input[type="file"] {
            font-size: 1.2em;
        }
        .mdl-textfield {
            max-width: 80%;
        }
        button {
            margin-top: 2em;
        }
        button[type="submit"] {
            margin-left: auto;
        }
    }
}

.modal-style {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 7;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem 1.5rem;
    width: 90%;
    max-width: 24rem;
    border-radius: 0.3rem;
    box-sizing: border-box;
    h3 {
        margin: 2em auto;
        width: fit-content;
    }
    .buttons-wrapper {
        display: flex;
        justify-content: space-around;
    }
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.close-modal-style {
    float: right;
    text-align: center;
    cursor: pointer;
    font-size: 2em;
}

.modal-changePassword {
    .modal-content {
        width: 90%;
        height: 80%;
        max-width: 800px;
        overflow-y: auto;
        h3 {
            margin: 1em auto;
        }
    }
    form {
        justify-content: space-around;
    }
    input,
    label {
        font-size: 1.3em;
    }
    .mdl-textfield {
        width: 80%;
        max-width: 400px;
    }
    .mdl-cell {
        display: flex;
        margin: 1em;
        justify-content: center;
    }
}

.blur {
    filter: blur(5px);
    transition: all 0.1s;
}

@media screen and (max-width:540px) {
    .mdl-textfield,
    .mdl-cell {
        width: 100% !important;
        max-width: 100% !important;
        justify-content: center;
    }
    .mdl-button {
        margin: auto;
    }
    #input-birthday,
    .label-birthday {
        text-align: center;
    }
    form {
        width: 100%;
        padding: 2em 0.3em !important;
    }
    section.section-page-myAccount {
        padding: 0;
    }
}